:root{
    --yellow: #FFC300;
    --orange: #FF9800;
    --green: #157237;
    --brown: #56431E;
    --white: #F1F1F1;
}

.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin-top: 1em;
    background-color: var(--orange);
}
.footer-link{
    padding: 1em;
    box-sizing: border-box;
}
.footer-img{
    font-size: 2em;
    height: 1em;
    width: auto;
}
.invert{
    filter: invert(1);
}