:root{
    --yellow: #FFC300;
    --orange: #FF9800;
    --green: #157237;
    --brown: #56431E;
    --white: #F1F1F1;
}

.footer-container{
    height: 7em;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 2em;
    margin-top: 1em;
    background-color: var(--white);
}
.footer-link{
    background-color: var(--yellow);
    margin-top: 1em;
    margin-bottom: 1em;
    box-sizing: border-box;
    border-bottom: 0.5em solid var(--brown);
    transition-duration: 200ms;
}
.footer-img{
    padding: 1em;
    font-size: 1em;
    height: 2em;
    width: auto;
}
.footer-link:hover{
    border-bottom-width: 0;
}
.invert{
    filter: invert(1);
}