:root{
    --yellow: #FFC300;
    --orange: #FF9800;
    --green: #157237;
    --brown: #56431E;
    --white: #F1F1F1;
}

.header-container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr auto;
    align-items: start;
    justify-items: center;
}
.navbar-container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    justify-content:space-between;
    grid-area: 1/1/1/4;
    padding: 1.2em;
    background-color: var(--white);
}
.header-navbar{
    grid-area: 2/2/2/3;
    display: flex;
    gap: 2em;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.menu-button{
    align-self: flex-end;
    font-size: 1.2em;
    font-weight: bold;
    padding: 1em;
    background-color: var(--yellow);
    border-width: 0;
    border-bottom-width: 0.5em;
    border-color: var(--brown);
    border-style: solid;
    transition-duration: 200ms;
}
.menu-button:hover{
    background-color: rgb(214, 214, 214) !important;
    border-bottom-width: 0em;
    transition-duration: 200ms;
}
.menu-button.selected{
    pointer-events: none;
    border-bottom-width: 0em;
    background-color: rgb(214, 214, 214);
}
.logo-container{
    justify-self: left;
    align-self: center;
    grid-area: 1/1/4/1;
    margin-right: 2em;
    margin-left: 1em;
}
#menu-logo{
    width: 7em;
    height: auto;
    vertical-align: middle;
    border-radius: 1em;
}

.heading-bar-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-area: 1/1/1/4;
    justify-content: center;
    align-items: center;
}


.page-heading-container{
    margin: 0;
    position: relative;
    display: flex;
}
.page-heading{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--yellow);
    margin: 0;
    padding: 2em;
    width: 40%;
    box-sizing: border-box;
    text-align: right;
    border-top-right-radius: 2em;
}
.page-heading-title{
    font-size: 2.5em;
    font-weight: 500;
    margin: 0;
}
.page-heading-subtitle{
    font-size: 1.5em;
    font-weight: 400;
    margin: 0;
}
.heading-img{
    width: 100%;
    object-fit: cover;
    height: 40em;
    box-sizing: border-box;
    grid-area: 2 / 1/ 2/4;
}