:root{
    --yellow: #FFC300;
    --orange: #FF9800;
    --green: #157237;
    --brown: #56431E;
    --white: #F1F1F1;
}

body{
    font-family: "Poppins";
    background-color: var(--white);
    margin: 0;
}
a{
    color: black;
    text-decoration: none;
}