:root{
    --yellow: #FFC300;
    --orange: #FF9800;
    --green: #157237;
    --brown: #56431E;
    --white: #F1F1F1;
}

body{
    font-family: "Poppins";
    background-color: var(--white);
    margin: 0;
}

.header-container{
    display: flex;
    justify-content: space-between;
    padding-left: 3em;
    padding-right: 3em;
    margin: auto;
    align-items: center;
}
a{
    color: black;
    text-decoration: none;
}
.menu-link{
    font-size: 1.5em;
    padding-left: 1em;
}
.menu-link.selected{
    opacity: 50%;
}
#menu-logo{
    width: 7em;
    height: auto;
    padding: 1em;
    vertical-align: middle;
}

.page-title-container{
    padding-right: 3em;
    padding-left: 3em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 0;
    box-sizing: border-box;
    border-bottom:1em;
    border-bottom-width: 1em;
    
    position: relative;
    /*background-color: var(--yellow);*/
}
.page-title{
    position: absolute;
    left: 3em;
    top: 25%;
    color: var(--white);
    background-color: var(--brown);
    font-size: x-large;
    font-weight: 500;
}
.title-background-image{
    width: 100%;
    height: auto;
    opacity: 50%;
}
.divider.green{
    margin: 0;
    border-top: 0.1em solid var(--green);
}