:root{
    --yellow: #FDD800;
}

body{
    font-family: "Montserrat";
    margin: 0;
}

.header-container{
    display: flex;
    justify-content: space-between;
    padding-left: 3em;
    padding-right: 3em;
    margin: auto;
    align-items: center;
}
a{
    color: black;
    text-decoration: none;
}
.navbar-link{
    font-size: 1.5em;
    padding-left: 1em;
}
#navbar-logo{
    width: 10em;
    height: auto;
}

.page-title-container{
    display: flex;
    justify-content: space-between;
    padding-right: 3em;
    padding-left: 3em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 0;
    background-color: var(--yellow);
}
.page-title{
    font-size: large;
    font-weight: 500;
}